/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  box-sizing: border-box; }

body {
  background: #EEBA4F;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  overflow: hidden; }

.app-header {
  position: fixed;
  background: -moz-linear-gradient(top, #ffcf6b 0%, #eeba4f 100%);
  background: -webkit-linear-gradient(top, #ffcf6b 0%, #eeba4f 100%);
  background: linear-gradient(to bottom, #ffcf6b 0%, #eeba4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf6b', endColorstr='#eeba4f',GradientType=0 );
  background-image: url("../img/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 170px;
  text-align: center; }
  .app-header h1 {
    display: block;
    width: 97px;
    height: 14px;
    background: url("../img/logo.svg") no-repeat;
    background-size: contain;
    text-indent: -9999px;
    margin: 33px auto 0; }

.app-content {
  padding-top: 170px; }

.uitleg-component {
  position: relative;
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #d19f38; }
  .uitleg-component:before, .uitleg-component:after {
    display: block;
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    left: 50%;
    margin-left: -30px;
    top: 0;
    box-shadow: 1px 1px 1px #d19f38; }
  .uitleg-component:after {
    top: auto;
    bottom: 0; }

.form-component {
  position: relative;
  padding: 20px 30px;
  text-align: center;
  color: #fff;
  margin-top: 40px; }
  .form-component label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #d19f38;
    padding-bottom: 15px; }
  .form-component input {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #d19f38;
    border: none;
    color: #D19F38;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px; }

.countdown-component {
  font-size: 170px;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-weight: 900;
  text-shadow: 1px 1px 1px #d19f38;
  padding: 60px; }
  .countdown-component span {
    display: block; }

.pipikaka-component {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%; }

.app-footer {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  color: #D19F38;
  text-align: center;
  width: 100%; }
  .app-footer a {
    color: #D19F38;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase; }

.button {
  display: inline-block;
  text-decoration: none;
  box-shadow: 1px 1px 1px #d19f38;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px; }
  .button.button--white {
    background: #fff;
    color: #D19F38; }
  .button.button--red {
    background: #D21717;
    color: #fff;
    height: 35px;
    line-height: 35px; }
