<div class="app">
    <header class="app-header">
      <h1>Bierun</h1>
    </header>

    <main class="app-content">
      <div class="uitleg-component">
        <p>
          Een pintje bevat 111 calorieën. Loop naar een café, net ver genoeg om die 111 calorieën te verbranden.
        </p>
      </div>

      <div class="form-component">
        <form>
          <div class="form-component__input">
            <label>Gewicht</label>
            <input type="number" name="gewicht" placeholder="hoe veel weeg je?" [(ngModel)]="gewicht" />
          </div>
          <div class="form-component__button">
            <a  (click)="getCafe()"  class="button button--white" role="button">Recht naar jouw pintje</a>
          </div>
        </form>
      </div>

      <div class="pipikaka-component">
        <a href="#pipikaka" (click)="getToilet()" class="button button--red">Shit, ik moet pipi doen</a>
      </div>
    </main>

    <footer class="app-footer">
      <a href="#vreewijzegasten">Da's wa de max maat</a>
    </footer>
  </div>