@import "reset";

$t_font-family: 'Open Sans', sans-serif;
$t_size-normal: 16px;
$t_size-form: 12px;
$t_size-label: 15px;
$t_size-countdown: 170px;
$t_size_button: 13px;
$t_size_footer: 12px;

$c_yellow1: #EEBA4F;
$c_yellow2: #D19F38;

$c_red1: #D21717;

$c_white: #fff;
$c_black: #333;

* {
  box-sizing: border-box;
}

body {
  background: $c_yellow1;
  font-family: $t_font-family;
  font-size: $t_size-normal;
  letter-spacing: 2px;
  overflow: hidden;
}

.app-header {
  position: fixed;
  background: -moz-linear-gradient(top, #ffcf6b 0%, #eeba4f 100%);
  background: -webkit-linear-gradient(top, #ffcf6b 0%,#eeba4f 100%);
  background: linear-gradient(to bottom, #ffcf6b 0%,#eeba4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf6b', endColorstr='#eeba4f',GradientType=0 );
  background-image: url('../img/header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 170px;

  text-align: center;

  h1 {
    display: block;
    width: 97px;
    height: 14px;

    background: url('../img/logo.svg') no-repeat;
    background-size: contain;

    text-indent: -9999px;

    margin: 33px auto 0;
  }
}

.app-content {
  padding-top: 170px;
}

.uitleg-component {
  position: relative;
  padding: 20px 30px;
  font-size: $t_size-normal;
  color: $c_white;
  text-align: center;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba($c_yellow2, 1);

  &:before, &:after {
    display: block;
    position: absolute;
    content: '';

    width: 60px;
    height: 3px;

    background: $c_white;

    border-radius: 3px;

    left: 50%;
    margin-left: -30px;
    top: 0;

    box-shadow: 1px 1px 1px rgba($c_yellow2, 1);
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.form-component {
  position: relative;
  padding: 20px 30px;
  text-align: center;
  color: $c_white;
  margin-top: 40px;

  label {
    display: block;
    font-size: $t_size-label;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba($c_yellow2, 1);
    padding-bottom: 15px;
  }

  input {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba($c_yellow2, 1);
    border: none;
    color: $c_yellow2;
    font-size: $t_size-form;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
}

.countdown-component {
  font-size: $t_size-countdown;
  color: $c_white;
  text-align: center;
  line-height: 1;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba($c_yellow2, 1);
  padding: 60px;

  span {
    display: block;
  }
}

.pipikaka-component {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

.app-footer {
  position: absolute;
  bottom: 15px;
  font-size: $t_size_footer;
  color: $c_yellow2;
  text-align: center;
  width: 100%;

  a {
    color: $c_yellow2;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  box-shadow: 1px 1px 1px rgba($c_yellow2, 1);
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $t_size_button;

  &.button--white {
    background: $c_white;
    color: $c_yellow2;
  }

  &.button--red {
    background: $c_red1;
    color: $c_white;
    height: 35px;
    line-height: 35px;
  }
}
